#wrapper {
  overflow-x: hidden;
}

button.menu-button {
  position: fixed;
  top: .5em;
  right: 1.25em;
  z-index: 999;
  opacity: .65;
  color: #111;
}
button.menu-button:hover {
  opacity: 1;
}
.offcanvas {
  background-color: #212529;;
}
.offcanvas-header {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
.offcanvas-header a {
  color: #b3b3b3;
  text-decoration: none;
}
.offcanvas-header a:hover {
  color: #ccc;
}

.offcanvas-body .list-group .list-group-item {
  color: #ccc;
  background-color: rgba(255,255,255,.05);
  border-color: rgba(255,255,255,.2);
}
.offcanvas-body .list-group .list-group-item:hover {
  background-color: rgba(255,255,255,.1);
}
.offcanvas-body .list-group .list-group-item:focus,
.offcanvas-body .list-group .list-group-item.active {
  background-color: rgba(255,255,255,.2);
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}