.dropzone {
    border: 3px dotted #ddd !important;
    width: 94vw;
    max-width: 450px;
    height: 10rem;
    border-radius: 10px;
}
.dropzone > div {
    color: #999;
    text-align: center;
}
.uploading {
    color: #999;
}
.uploaded {
    color: #393;
}
.erroneous {
    color: #c33;
}